## 4. HOW TO REMOVE COLUMNS FROM PANDAS DATA FRAME?

In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv('https://bit.ly/uforeports')

In [3]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [5]:
ufo.shape

(18241, 5)

In [6]:
#DELETE A COLUMN

In [14]:
ufo.drop('Colors Reported', axis=1, inplace=True)

KeyError: "['Colors Reported'] not found in axis"

In [8]:
ufo.head()

                   City Shape Reported State             Time
0                Ithaca       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro          OTHER    NJ  6/30/1930 20:00
2               Holyoke           OVAL    CO  2/15/1931 14:00
3               Abilene           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair          LIGHT    NY  4/18/1933 19:00

In [15]:
ufo.head()

                   City Shape Reported State             Time
0                Ithaca       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro          OTHER    NJ  6/30/1930 20:00
2               Holyoke           OVAL    CO  2/15/1931 14:00
3               Abilene           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair          LIGHT    NY  4/18/1933 19:00

In [17]:
ufo.drop('City', axis=1, inplace=True)

In [18]:
ufo.head()

  Shape Reported State             Time
0       TRIANGLE    NY   6/1/1930 22:00
1          OTHER    NJ  6/30/1930 20:00
2           OVAL    CO  2/15/1931 14:00
3           DISK    KS   6/1/1931 13:00
4          LIGHT    NY  4/18/1933 19:00

In [21]:
ufo_new = pd.read_csv('https://bit.ly/uforeports')

In [22]:
ufo.head()

  Shape Reported State             Time
0       TRIANGLE    NY   6/1/1930 22:00
1          OTHER    NJ  6/30/1930 20:00
2           OVAL    CO  2/15/1931 14:00
3           DISK    KS   6/1/1931 13:00
4          LIGHT    NY  4/18/1933 19:00

In [23]:
ufo_new.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [26]:
ufo_new.drop(['City', 'State'], axis=1, inplace=True)

In [27]:
ufo_new.head()

  Colors Reported Shape Reported             Time
0             NaN       TRIANGLE   6/1/1930 22:00
1             NaN          OTHER  6/30/1930 20:00
2             NaN           OVAL  2/15/1931 14:00
3             NaN           DISK   6/1/1931 13:00
4             NaN          LIGHT  4/18/1933 19:00

In [29]:
ufo.shape

(18241, 3)